
body{
  overflow: hidden;
}
input{
  width: 200px;
  height: 25px;
}
#push,#pop,#popL{
  position: relative;
  left: 30px;
  margin: 10px;
  width: 100px;
  height: 30px;
  background: none;
  border: 3px solid white;
  color: white;
}
#push:hover,#pop:hover,#popL:hover{
  background-color: turquoise;
  color: black;
}
#btnS,#btnP{
  background: none;
  border: 3px solid black;
  font-weight: bold;
  color:black;
  width: 100px;
  height: 30px;
  position: relative;
 top: 15px;;
  left: 60px;
}
#btnS:hover,#btnP:hover{
  background-color: cyan;
  color: black;
}
#cont{
  position: relative;
  top: -1px;
    left: 4px;
}
table tr td{
padding: 10px;
}
img {
  position: absolute;
  top: 13px;
  margin-left: -26px;
  width: 209px;
  
}

li {
  margin: 157px 0px 0px 0px;
}
.formulaire{
  position: relative;
    left: -384px;
}
.audio{
  background-image: url('giphy.gif');
  background-position: center;
 background-size: cover;
    position: relative;
    left: 140px;
    bottom: 400px;
    width: 350px;
    height: 400px;
    opacity: 0.9;
}

ul li a {
  color: #F0FFFF;
  list-style: none;
  margin-top: 100px;
  margin-left:-31px;
  top: 120px;
  font-size:28px;
}

ul li:nth-child(1) a:befor {
  background-color: green;
}

ul li:hover a:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu {
  width: 201px;
  height: 92.5vh;
  padding: 30px;
  background-color: black;
  margin-top:49px;
}

.menu-bare {
  position: absolute;
  left: 218px;
  width: 86%;
  background-color: black;
  height: 86vh;
  margin: 100px 0px 0px 0px;
}

.logo{
  width: 90px;
  position: relative;
  top: -1px;
  left: 140px;
}
.menu-bare2 {
  position: absolute;
  left: 218px;
  width: 86%;
  background-color: #064346;
  height: 100px;
  overflow: hidden;
}

.videoplay {
  position: absolute;
  width: 104%;
  height: 100vh;
  overflow: hidden;
  bottom: -11px;
  right:17px;

}

.menu-gen {
  overflow: hidden;
}


 section{
  display: block;
    margin: -628px 0px 0px 0px;
    margin-left: 702px;
    position: absolute;
    color:white;
}


.pserax{    
   position: relative;
  bottom: 59px;
  left: -104px;
    font-size: 59px;
    font-weight: bold;
    color: slategray;
   }



